.description {

  p {
    line-height: 170%;
  }
}

.section-description {
  position: relative;
  z-index: 10;

  .title {
    margin-bottom: 20px;
  }

  .description {
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2px;
      background: $secondary;
    }
  }
}

.link-more {
  position: relative;
  font-size: .875rem;
  text-transform: uppercase;
  font-weight: bold;
  color: $primary;
  padding-right: 25px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4.5px 0 4.5px 8px;
    border-color: transparent transparent transparent $primary;
    transition: .5s;
  }

  &:hover {
    color: $primary;

    &::before {
      right: 0;
    }
  }
}

.video-overview {
  @extend %img;
  padding-bottom: 56.25%;
  cursor: pointer;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}