.slider-arrow {
  display: flex;

  .slider-arrow-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;

    svg {
      fill: #fff;
      transition: .5s;
    }

    &:hover {

      svg {
        fill: $primary;
      }
    }
  }
}